.form-wrapper {
  position: relative;
  width: 420px;
  background: transparent;
  border: 2px solid  rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.icon {
  position: absolute;
  top: 10%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
}

.info-wrapper{
  margin-top: 10px;
}

.info-wrapper p {
  font-size: 16px;
  margin-bottom: 10px;
}

.form-wrapper a {
  text-decoration: none;
  color: #fff;
}

.title {

  font-size: 24px;
  font-weight: 700;
}